<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
	<section class="content-header">
		<h1>后台总览</h1>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><img src="/images/policy.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">政策管理</span> <span
							class="info-box-number"> <span th:text="${admin}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><img src="/images/device.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">设备管理</span> <span
							class="info-box-number"> <span th:text="${role}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>



			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><img src="/images/user.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">用户管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><img src="/images/APP.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">APP应用管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><img src="/images/charging.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">计费管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><img src="/images/security.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">安全管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><img src="/images/technology.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">技术支持</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><img src="/images/domain.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">域名管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green"><img src="/images/system.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">系统管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red"><img src="/images/organization.gif" /></span>
					<div class="info-box-content">
						<span class="info-box-text">组织管理</span> <span
							class="info-box-number"> <span th:text="${menu}">0</span>
							<!-- <small>个</small> -->
						</span>
					</div>
				</div>
			</div>
			
			
			

			
		</div>
	</section>
	<div th:replace="console/footer"></div>
</body>
</html>