<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
	<section class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="添加政策"></h3>
					</div>
					<div class="box-body">
						<form id="form" class="form-horizontal js-ajax-form">

							<div class="form-group">
								<label for="name" class="col-sm-2 control-label">策略名称</label>
								<div class="col-sm-10">
									<input type="text" name="name" class="form-control" id="name"
										required="true" />
								</div>
							</div>
							<div class="form-group">
								<label for="HomepageLocation" class="col-sm-2 control-label">配置主页网址</label>
								<div class="col-sm-10">
									<input type="text" name="HomepageLocation" class="form-control"
										id="HomepageLocation" />
								</div>
							</div>
							<div class="form-group">
								<label for="HomepageIsNewTabPage" class="col-sm-2 control-label">使用“新标签页”作为主页</label>
								<div class="col-sm-10">
									<select name="HomepageIsNewTabPage" class="form-control"
										id="HomepageIsNewTabPage">
										<option value="true">是</option>
										<option value="false">否</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="RestoreOnStartup" class="col-sm-2 control-label">启动时的操作</label>
								<div class="col-sm-10">
									<select name="RestoreOnStartup" class="form-control"
										id="RestoreOnStartup">
										<option value="4">打开网址列表</option>
										<option value="1">恢复上次的会话</option>
										<option value="5">打开新标签页</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="URLWhitelist" class="col-sm-2 control-label">网址白名单列表</label>
								<div class="col-sm-10">
									<input type="text" name="URLWhitelist" class="form-control"
										id="URLWhitelist" />
								</div>
							</div>
							<div class="form-group">
								<label for="URLBlacklist" class="col-sm-2 control-label">网址黑名单列表</label>
								<div class="col-sm-10">
									<input type="text" name="URLBlacklist" class="form-control"
										id="URLBlacklist" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<input type="button" class="btn btn-default js-ajax-submit"
										onclick="upload()" value="提交"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:include="console/footer"></div>

	<script type="text/javascript">
		function upload() {
			var name = $('#name').val();
			var HomepageLocation = $('#HomepageLocation').val();
			var HomepageIsNewTabPage = $('#HomepageIsNewTabPage').val();
			var RestoreOnStartup = $('#RestoreOnStartup').val();
			var URLWhitelist = $('#URLWhitelist').val();
			var URLBlacklist = $('#URLBlacklist').val();
			var str = "{";
			str += "name :" + name;
			if (HomepageLocation != null && HomepageLocation != "") {
				str += "," + "HomepageLocation:" + HomepageLocation;

			}
			if (HomepageIsNewTabPage != null && HomepageIsNewTabPage != "") {
				str += "," + "HomepageIsNewTabPage:" + HomepageIsNewTabPage;
			}
			if (RestoreOnStartup != null && RestoreOnStartup != "") {
				str += "," + "RestoreOnStartup:" + RestoreOnStartup;
			}

			if (URLWhitelist != null && URLWhitelist != "") {
				str += "," + "URLWhitelist:" + URLWhitelist;
			}
			if (URLBlacklist != null && URLBlacklist != "") {
				str += "," + "URLBlacklist:" + URLBlacklist;
			}
			str += "}";
			console.log(str);
			alert(str);
			var js = JSON.stringify(str); //注意要转字符串
			console.log(js);
			alert(js);
			$.ajax({
				//几个参数需要注意一下
				type : "POST",//方法类型
				dataType : "json",//预期服务器返回的数据类型
				url : "/console/policy",//url
				data : js,
				success : function(result) {
					console.log(result);//打印服务端返回的数据(调试用)
					if (result.resultCode == 200) {
						alert("SUCCESS");
					}
					;
				},
				error : function() {
					alert("异常！");
				}
			});
		}
	</script>
</body>
</html>