<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
	<section class="content">
		<div class="row">
			<div class="col-md-9 col-md-offset-1">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title" th:text="添加政策"></h3>
					</div>
					<div class="box-body">
						<form id="form" class="form-horizontal js-ajax-form">

							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">策略名称</label>
								<div class="col-sm-9">
									<input type="text" name="name" class="form-control" id="name"
										required="true" th:readonly="true" th:value="${name}" />
								</div>
							</div>
							<div class="form-group">
								<label for="HomepageLocation" class="col-sm-3 control-label">配置主页网址</label>
								<div class="col-sm-9">
									<input type="text" name="HomepageLocation" class="form-control"
										id="HomepageLocation" />
								</div>
							</div>
							<div class="form-group">
								<label for="ShowHomeButton" class="col-sm-3 control-label">在工具栏上显示“主页”按钮</label>
								<div class="col-sm-9">
									<select name="ShowHomeButton" class="form-control"
										id="ShowHomeButton">
										<option value="">不设置</option>
										<option value=true>是</option>
										<option value=false>否</option>
									</select>
								</div>
							</div>

							<!-- <div class="form-group">
								<label for="RestoreOnStartup" class="col-sm-2 control-label">启动时的操作</label>
								<div class="col-sm-10">
									<select name="RestoreOnStartup" class="form-control"
										id="RestoreOnStartup">
										<option value="4">打开网址列表</option>
										<option value="1">恢复上次的会话</option>
										<option value="5">打开新标签页</option>
									</select>
								</div>
							</div> -->
							<div class="form-group">
								<label for="URLWhitelist" class="col-sm-3 control-label">网址白名单列表</label>
								<div class="col-sm-9">
									<input type="text" name="URLWhitelist" class="form-control"
										id="URLWhitelist" placeholder="以;分隔网址" />
								</div>
							</div>
							<div class="form-group">
								<label for="URLBlacklist" class="col-sm-3 control-label">网址黑名单列表</label>
								<div class="col-sm-9">
									<input type="text" name="URLBlacklist" class="form-control"
										id="URLBlacklist" placeholder="以;分隔网址" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-10 col-sm-10">
									<input type="button" class="btn btn-default js-ajax-submit"
										onclick="upload()" value="提交"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:include="console/footer"></div>

	<script type="text/javascript">
		$(function() {
			var name = $('#name').val();
			$.ajax({
				type : "GET",//方法类型
				contentType : "text/plain",
				dataType : "json",//预期服务器返回的数据类型
				url : "/console/policy/" + name,//url
				success : function(result) {
					$('#HomepageLocation').val(result.HomepageLocation);
					$('#ShowHomeButton').val(result.ShowHomeButton);
					/* $('#RestoreOnStartup').val(result.RestoreOnStartup); */
					$('#URLWhitelist').val(result.URLWhitelist);
					$('#URLBlacklist').val(result.URLBlacklist);

				},
				error : function() {
					alert("取得失败");
				}

			});
		});

		function upload() {
			var name = $('#name').val();
			var HomepageLocation = $('#HomepageLocation').val();
			var ShowHomeButton = $('#ShowHomeButton').val();
			/* var RestoreOnStartup = $('#RestoreOnStartup').val(); */
			var URLWhitelist = $('#URLWhitelist').val();
			var URLBlacklist = $('#URLBlacklist').val();
			var json = {};
			json.name = name;
			if (HomepageLocation != null && HomepageLocation != "") {
				json.HomepageLocation = HomepageLocation;

			}
			if (ShowHomeButton != null && ShowHomeButton != "") {
				json.ShowHomeButton = isBoo(ShowHomeButton);
			}
			/* if (RestoreOnStartup != null && RestoreOnStartup != "") {
				json.RestoreOnStartup = RestoreOnStartup;
			} */

			if (URLWhitelist != null && URLWhitelist != "") {
				json.URLWhitelist = URLWhitelist.split(";");
			}
			if (URLBlacklist != null && URLBlacklist != "") {
				json.URLBlacklist = URLBlacklist.split(";");
			}
			var js = JSON.stringify(json); //注意要转字符串				
			$.ajax({
				//几个参数需要注意一下
				type : "POST",//方法类型
				contentType : "text/plain",
				dataType : "json",//预期服务器返回的数据类型
				url : "/console/policy",//url
				data : js,
				success : function(result) {
					alert("修改成功！");
					window.location.href = "/console/policy/index";
				},
				error : function() {
					alert("修改失败！");
					window.location.href = "/console/policy/index";
				}
			});
		}

		function isBoo(param) {
			if ("true" == param) {
				return true;
			}
			return false;
		}
	</script>
</body>
</html>